type sysfs_firmware_writable, fs_type, sysfs_type;
type sysfs_devices_tegradc, fs_type, sysfs_type;
type calibration_data_file, file_type, data_file_type;
type nvcam_data_files, file_type, data_file_type;
type sysfs_hardware, fs_type, sysfs_type;