/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_avpchannel	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver	0660 	media 	media
/dev/tegra_therm_status	0660	media	camera
#/dev/ar0832	0660	media	camera
/dev/imx111 0660	media	camera
/dev/dw9714	0660	media	camera
/dev/lm3559	0660	media	camera
#/dev/imx073	0660	media	camera
#/dev/ov2710	0660	media	camera
/dev/m24c08	0660	media	camera
#/dev/sh532u	0660	media	camera
/dev/tegra_camera	0660	media	camera
#/dev/mt9m114	0666	media	camera
/dev/imx119     0660    media   camera
/dev/spdif*	0660	system	audio
/dev/tegra_dc*	0666	system	system
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0666	root	root
/dev/nvhost-dsi	0666	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0666	root	root
/dev/nvhost-mpe	0666	root	root
/dev/nvhost-vi	0666	root	root
/dev/ttyACM*	0660	radio	radio
/dev/pts*	0660	radio	radio
/dev/mpu	0640	system system
/dev/mpuirq	0640	system system
/dev/timerirq	0640	system	system
/dev/video0	0660	media	camera
/dev/video1	0660	media	camera
/dev/nvhdcp0    0666    system  system
/dev/nvhdcp1    0666    system  system
/dev/tf_driver	0666	system	system
# LGE_CHANGE_S yejini.lee@lge.com
# Begin Immersion changes 
/dev/tspdrv               0666   root       root
# End Immersion changes
# LGE_CHANGE_E yejini.lee@lge.com
/dev/ttyGS0	0660	system	system
/dev/ttyGS1	0660	system	system
/dev/ttyGS2	0660	system	system
# CTS Pass
/dev/block/mmcblk0p5 0660 system sdcard_rw
/dev/block/mmcblk0p7 0660 system sdcard_rw
# Bluetooth UART device
/dev/ttyHS2	0660	bluetooth	bluetooth
# secure clock
/dev/secclk     0600    system    system
/dev/rfkill               0660   wifi       wifi
