allow surfaceflinger { knv_device }:chr_file rw_file_perms;
allow surfaceflinger { sysfs_devices_system_cpu sysfs_devices_tegradc }:file rw_file_perms;
allow surfaceflinger sysfs_devices_tegradc:dir r_dir_perms;
allow surfaceflinger sysfs_devices_tegradc:lnk_file { open getattr read };
allow surfaceflinger sysfs_devices_system_cpu:dir w_dir_perms;
# Kernel bug for Linux < 3.3: sysfs inodes can lose their security context
# and revert to the base sysfs type.
allow surfaceflinger sysfs:file write;

allow mediaserver { gpu_device nvhost_device }:chr_file rw_file_perms;
# ?
allow mediaserver debugfs:file r_file_perms;
# ?
allow mediaserver system_server:unix_stream_socket rw_stream_socket_perms;
# ?
allow mediaserver block_device:dir search;
# ?
allow mediaserver shell_exec:file rx_file_perms;

allow system_app knv_device:chr_file rw_file_perms;

## For "nvram", mmcblk0p7
allow rild radio_device:blk_file rw_file_perms;
allow rild radio_data_file:file { rw_file_perms setattr };

## /cal/* files
allow system_server calibration_data_file:file rw_file_perms;
allow tee calibration_data_file:file rw_file_perms;
allow tee calibration_data_file:dir rw_file_perms;
allow tee calibration_data_file:dir search;

allow zygote { video_device console_device gpu_device knv_device }:chr_file rw_file_perms;
